.container-display {
    background-color: rgba(127, 255, 212, 0.575);
    padding: 3rem 1rem 2rem;
    margin-top: 15vh;
}

.container-button {
    padding: 1rem 1.5rem;
    background-color: #334;
}

.input-custom {
    text-align: end;
    border: none;
    background-color: rgba(127, 255, 212, 0.575);
    outline: none;
    width: 100%;
    border-radius: 5px;
    font-size: 2rem;
    font-weight: bold;
    padding-top: 1rem;
    padding-inline: 10px;
    box-shadow: inset -5px -5px 12px rgba(158, 252, 221, 0.575), inset 5px 5px 12px rgba(0, 0, 0, 0.16);
}

.btn-custom {
    width: 100%;
    border: 1px solid #888;
    font-size: 1.2rem;
    font-weight: bold;
    margin: 5px;
}

.btn-custom:last-child {
    color: goldenrod;
}



